body
{
    font-family:'Comic Sans MS';
    background-image:linear-gradient(to right, red, orange, yellow, orange, yellow, green, yellow, green, blue, green, blue, indigo, blue, indigo, violet, indigo, violet, red, violet, red, orange);
}

header
{
    text-align:center;
}

img#moose
{
    transition: transform .2s;
}

img:hover
{
    transform:scale(1.05);
    cursor:pointer;
}